 /* *  {outline: 2px solid red;}  */

html, body {
    margin: 0; 
    padding: 0;
  }

/* Cor para modo escuro body{ background-color: rgb(17 24 39);} */

p,h1,h2,h3{font-family: "Roboto", sans-serif;}

a{text-decoration: none;}

.nomePapa, .tipoDocumento, .nomeDocumento, .listaPapal, .documentos, h3{ text-align: center;}

.nomeDocumento, .titulo, .headerlinks a{color:#daa520;}

.nomeDocumento, #data{font-style: italic;}

#titulo h1{font-family: "trajan";}

#titulo{
  display: flex;
  justify-content: center;
  
}

h1, .listaPapal, .documentos{font-size: 40px;}

h2{font-size: 30px;}

h3{font-size: 25px;}

.subtexto{padding-left: 40px;}

p {
  text-indent: 10px;
  font-size: 21px; 
  text-align: justify;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 20px;
  
}

.headerbar{
  width: 100%;
  height: 80px;
  background-color:  /*#2A2C33;*/ /*#33302A;*/  #59493A;  /* #48370B; */ /* #3A4C59; */
  /* border: 2px solid red; */

  

}

.headerlinks{
  padding-top: 10px;
  font-size: 37px;
  margin-left: 22%;
}

.popebar{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  outline: 3px solid gray;
  border-radius: 25px;
  display: flex;
}

.imagempapa{margin: 10px;
            margin-right: 0px;
          }

.listas{margin-left:20px;
        display: flex;
      }   

.listas li{
  padding-left: 10px;
  font-size: 23px;
  list-style: none;
            
}


.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "trajan";
  src: url(fonts/trajan-regular.ttf);
}