html, body {
    margin: 0; 
    padding: 0;
  }

p,h1,h2,h3{font-family: "Roboto", sans-serif;}
.subtitulo, .titulo{color:goldenrod;}
.subtitulo, .data{font-style: italic;}

p {text-indent: 10px;
   font-size: 21px; 
   text-align: justify;
   padding-left: 400px;
   padding-right: 400px;
   padding-bottom: 20px;
   
}

h1{font-size: 40px;}

h2{font-size: 30px;}

h3{font-size: 25px;}

a{color:#ae6800;}

.subtexto{padding-left: 440px;}


.select{
    padding-left: 200px;
    height: 45px;
    width: 100%;
    background-color: white;
}

.header{
    text-align: center;
    background-image: url(images/wp22718263.jpg);
    background-size: cover;
    height:230px;
    width: 1920px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}