 /* *  {outline: 2px solid red;}  */

html, body {
    margin: 0; 
    padding: 0;
    height: 100%;
  }


/* Cor para modo escuro body{ background-color: rgb(17 24 39);} */

p,h1,h2,h3{font-family: "Roboto", sans-serif;}

a{text-decoration: none;}

.nomePapa, .tipoDocumento, .nomeDocumento, .documento, h3{ text-align: center;}

.nomeDocumento, .links a {color:#daa520;}

.textoDocumento a{color:#BC8E1C;
                  font-weight: 600;}

.nomeDocumento, .data{font-style: italic;}

.nav{
  width: 100%;
  height: 75px;
  background-color:  /*#2A2C33;*/ /*#33302A;*/  #59493A;  /* #48370B; */ /* #3A4C59; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  /* border: 2px solid red; */
}

.nav .links{
  flex-shrink: 0;
}

.header{
  display: flex;
  justify-content: center;
}

.header h1{font-family: "trajan";}

h1, .documento{font-size: 40px;}

h2{font-size: 30px;}

h3{font-size: 25px;}

.subtexto{padding-left: 40px;}

p {
  text-indent: 10px;
  font-size: 21px; 
  text-align: justify;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 20px;
  
}

.container{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  height: 1000px;
}

.documentosRecentes, .documentosRelevantes{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
  margin-bottom: 20px;
  font-size: 40px;
  outline: 3px solid gray;
  border-radius: 25px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.barraPapa{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  outline: 3px solid gray;
  border-radius: 25px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}

.barraPapa li{font-size: 23px;}

.imagempapa{
            margin: 10px;
            margin-right: 0px;
          }
.popename{color:#daa520;}
.nomepapa a{color:#daa520;}

.listas{
        margin-left:20px;
        display: flex;
      }   

li{
  padding-left: 10px;
  font-size: 30px;
  list-style: none;
            
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "trajan";
  src: url(fonts/trajan-regular.ttf);
}